/* * {
    margin: 0;
    padding: 0;
}


NAVBAR
.navbar-container {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #fbfbfd;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

.navBar {
    font-weight: 600;
    justify-content: space-around;
    padding: 15px 5px;
    align-items: center;
    display: flex;
    width: 70%;
    gap: 10px;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 0 16px;
}

.navbar {
    font-size: 20px;
    text-decoration: none;
    margin: 7px 0px 7px 0px;
}

.loginPage {
    border-radius: 10px;
    width: 16%;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

Flight page

.-z-50 {
    margin-top: 20px;
    background-color: #f0e7e7;
    box-sizing: border-box;
    height: auto;
    position: relative;
}

.basic-icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 0 30px;
    position: relative;
}

.domestic {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    margin: 1rem 0 1rem;
    text-shadow: rgba(0, 0, 0, .25) 0 1px 1px;
}

.search-container {
    background-color: #fffcfc;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 7, .2);
    box-sizing: border-box;
    height: 300px;
    width: 100%;
}

.radio-btn {
    display: flex !important;
    gap: 3rem;
    justify-content: flex-start;
    margin: 1.5rem 1rem;
    
}
.inputData{
    display: flex !important;
    gap: 3rem;
    justify-content: flex-start;
    margin: 1.5rem 1rem;
    gap: 1rem;
    width: 15%;
    height: 40px;
    
}
.airportData{
    border-radius: 10px;
    font-size: 16px;
}
.datepicker{
    align-items: center;
}

.flight-search-btn{
    align-items: center;
    background-color: #ff6d38;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    justify-content: center;
    border-radius: 3rem;
    box-shadow: 0 .2rem 1.2rem 0 rgba(0, 0, 0, .13);
    font-size: 1.3rem;
    height: 2.9rem;
    width: 15rem;
    margin-top: -1.5rem ;
    margin-left: 23.5rem;
} */