/* .login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: -30px;
  }
  
  .input-group input {
    width: 130%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: -30px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  

  .loginButton {
    height: 35px;
    width: 50%;
    border: 1px solid black;
    color: #000;
    font-size: 16px;
    margin: 5px 50px;
    cursor: pointer;
  }
  
   */


  input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}