*{
    margin-top: 0;
    padding: 0;
}
.card{
    background-color: rgb(225, 231, 238);
    height: 200px;
    width: 100%;
    border-radius: 12px;
}
.flightimage{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#flyimage{
  flex-wrap: wrap;
}