.header {
    height: 200px;
    background-color: orange;
    margin-top: 50px;
    /* border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%; */
    text-align: center;
  }
  .domestic-text {
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  .content {
    width: 80%;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #EDDDDD;
  }
  .content-data {
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px;
  }
  .content-data-top {
    display: flex;
    gap: 10px;
  }
  .content-data-mid {
    display: flex;
    justify-content: space-between;   
  }
 



  .trip-information {
    height: 50px;
  }
  .content-data-lower {
    padding: -62px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .profession {
    padding: 10px;
    color: gray;
    justify-content: space-between;
    /* background-color: #F5E5E5; */
  }
  .search-flights {
    position: relative;
    width: 200px;
    border-radius: 25px;
    background-color: orange;
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-left: 42%;
    padding: 15px;
    top: -28px;
    cursor: pointer;
  }
  .img-item {
    width: 100%;
    height: 100%;
    margin: 5rem 0;
    border-radius: 15px;
    /* border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; */
  }
  /* .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 400px;
    background-color: rgb(241, 236, 236);
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 8px 8px 8px #EDDDDD;
  }
  .card-data {
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px;
  }
  .offer-bottom {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .bottom-data {
    display: flex;
   justify-content: space-around;
    color: gray;
    font-weight: 500;
    font-size: 15px;
  }
  .hover-effect:hover {
    color: black;
  }
  .bottom-data-item{
    display: flex;
    gap: 25px;
   justify-content: space-around;
  }
  .first-card {
    width: 50%;
    height: 180px;
    background-color: rgb(240, 212, 212);
    position: relative;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    color: gray;
    font-weight: 500;
    font-size: 20px;
  }
  .first-card:hover {
    box-shadow: 8px 8px 8px 8px rgb(240, 201, 201);
    z-index: 4;
  }
  .img-card {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  .bottom-border {
    display: flex;
    width: 70%;
    height: 70px;
    background-color: rgb(243, 216, 216);
    margin: 0 auto;
    /* position: relative; 
    border-radius: 20px;
    margin-top: 30px ;
  }
  .text-much {
    padding: 20px;
    font-size: 14px;
  }
  .text-much span {
    color: blue;
    margin-left: 25px;
  }
  .bottom-border img {
    margin: 10px;
  }
  .card-c {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .new-card {
    display: flex;
    margin-left: 15px;
  }
  .footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: 400px;
    font-weight: 600;
    font-size: 14px;
    background-color: #F5E5E5;
    padding: 20px;
  }
  .footer-container{
    color: black;
  }
  .footer-path{
    color: grey;
    margin-top: 20px;
    font-size: 14px;
  } */