.hotel-container {
    background-color: #f0e7e7;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.hotel-details {
    background-color: #f0e7e7;
    height: auto;
    width: 100%;
}

/* .bc-Hotel-Iage1 {
    position: relative;
    transform: translate(50%);
    background-color: #2274e0;
    border-radius: 100%;
    height: 77rem;
    left: -44rem;
    top: -47rem;
    width: 72rem;
    z-index: 2;
} */

/* .bc-Hotel-Iage2 {
    background-color: #d1e5ff;
    border-radius: 50%;
    height: 80rem;
    left: -46rem;
    top: -49rem;
    width: 74rem;
} */

/* .book-hotel-content {
    position: static;
    color: #000;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 44rem 4rem 0.5rem;
    z-index: 1;
}

.hotels-card {
    width: 70%;
    z-index: 1;
    
}
.hotel-shadow-box {
    background-color: #fffcfc;
    border-radius: 10px;
    height: auto;
    margin: 0 4rem;
    padding: 20px 50px;
    width: 70%;
}
.bus-card-container {
    width: 50% !important;
}
.bus-svvchx{
    border-bottom: .1rem solid #e2e1e1;
    margin: 0 !important;
}
.bKYeCc {
    color: #777;
    font-size: 1.2rem;
}
.iySGfO {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: .5rem 0 1.5rem;
    width: 100%;
} */